.pagination-success > li > a {
  background-color: white !important;
  color: #198754 !important;
}

.pagination-success > li > a:focus,
.pagination-success > li > a:hover,
.pagination-success > li > span:focus,
.pagination-success > li > span:hover {
  color: #198754;
  background-color: #eee;
  border-color: #ddd;
}

.pagination-success > .active > a {
  color: white !important;
  background-color: #198754 !important;
  border: solid 1px #198754 !important;
}

.pagination-success > .active > a:hover {
  background-color: #198754;
  border: solid 1px #198754;
}
