button.sidebar-item {
  background-color: inherit;
  border: 0;
}

a.sidebar-item {
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}
a.sidebar-item:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}
