button.sidebar-item {
  background-color: inherit;
  border: 0;
}

a.sidebar-item {
  white-space: nowrap;
}
a.sidebar-item:hover {
  color: #212529 !important;
}

.sidebar-container {
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar-item.active {
  background-color: #efefef;
}
